<li class="px-nav-box p-a-3 b-b-1"> <text style="color:white">Administrator meni</text></li>
<li class="px-nav-item">
    <a href="@Url.Action("Index", "Home", new { Area = "Administrator" })"><i class="px-nav-icon fa fa-home"></i><span class="px-nav-label">Index</span></a>
</li>
<li class="px-nav-item">
    <a href="@Url.Action("Index", "Uposlenici", new { Area = "Administrator" })"><i class="px-nav-icon fa fa-arrow-circle-o-up"></i><span class="px-nav-label">Uposlenici</span></a>
</li>
<li class="px-nav-item">
    <a href="@Url.Action("ZaradaIndex", "Uposlenici", new { Area = "Administrator" })"><i class="px-nav-icon fa fa-arrow-circle-o-up"></i><span class="px-nav-label">Pregled Zarade</span></a>
</li>
<li class="px-nav-item">
    <a href="@Url.Action("Index", "Servisi", new { Area = "Administrator" })"><i class="px-nav-icon fa fa-arrow-circle-o-up"></i><span class="px-nav-label">Servisi i Zahtjevi</span></a>
</li>