<li class="px-nav-box p-a-3 b-b-1"> <text style="color:white">Klijent meni</text></li>
<li class="px-nav-item">
    <a href="@Url.Action("Index", "Home", new { Area = "Klijent" })"><i class="px-nav-icon fa fa-home"></i><span class="px-nav-label">Početak</span></a>
</li>
<li class="px-nav-item">
    <a href="@Url.Action("NoviZahtjev", "Home", new { Area = "Klijent" })"><i class="px-nav-icon fa fa-arrow-circle-o-up"></i><span class="px-nav-label">Zahtjev za servis</span></a>
</li>