<li class="px-nav-box p-a-3 b-b-1"> <text style="color:white">Prodavac</text></li>
<li class="px-nav-item">
    <a href="@Url.Action("Index", "Home", new { Area = "Prodavac" })"><i class="px-nav-icon fa fa-home"></i><span class="px-nav-label">Zahtjevi za servis</span></a>
</li>
<li class="px-nav-item">
    <a href="@Url.Action("Index", "Pregled", new { Area = "Prodavac" })"><i class="px-nav-icon fa fa-arrow-circle-o-up"></i><span class="px-nav-label">Servisni nalozi</span></a>
</li>
