@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servis racunara</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <div class="container" style="width: 300px; background-color: #ffffff; background-color: rgba(255, 255, 255, 0.7);">

            @using (Html.BeginForm("Snimi", "Home", FormMethod.Get))
            {
                <h2 class="form-signin-heading">Registracija</h2>
                <input type="text" class="form-control" name="Ime" id="Ime" placeholder="Ime" size="400" required autofocus />

                <input type="text" class="form-control" name="Prezime" id="Prezime" placeholder="Prezime" required />


                <input type="text" class="form-control" name="KorisnickoIme" id="KorisnickoIme" placeholder="korisničko ime" required />

                <input type="password" class="form-control" id="Lozinka" name="Lozinka" placeholder="Lozinka" required />

                <input type="text" class="form-control" name="Adresa" id="Adresa" placeholder="Adresa" required />

                <input type="email" class="form-control" name="Email" id="Email" placeholder="E-mail" required />

                <input type="tel" class="form-control" name="Telefon" id="Telefon" placeholder="Telefon" required />

                <br />

                <button class="btn btn-lg btn-primary btn-block" type="submit">Registracija</button>

            }
            </div> <!-- /containerr -->

                <script src="~/Scripts/jquery-2.1.3.js"></script>
                <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
                <script src="~/Scripts/bootstrap.js"></script>
        </body>
    </html>
